<p id="notice"><%= notice %></p>

<h2>
  <strong>| <%= @award.title %> |</strong>
</h2>
<div class="well">
  <p>
    <span class="bold">Points required:</span> <%= @award.points_required %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @award.description %>
  </p>



<% if current_user.user_type == "tasker" %>
  <%= link_to 'Edit', edit_award_path(@award) %> |
<% end %>
<%= link_to 'Back', awards_path %>
